@page "/"

<Toast />

<h1>Appointments</h1>
<div class="appointment-inline">
    <label class="width100">
        Client:<br />
        <TelerikComboBox Filterable="true"
                         ClearButton="false"
                         Data="@Clients"
                         Value="@ClientId"
                         ValueField="@nameof(ClientDto.ClientId)"
                         TextField="@nameof(ClientDto.FullName)"
                         OnChange="@(e => ClientChanged(e))"
                         Placeholder="Select a Client...">
        </TelerikComboBox>
    </label>
</div>
<div class="appointment-inline @((IsClientSelected? "" : "patients-hidden"))">
    <label class="width100">
        Patient:<br />
        <TelerikComboBox Filterable="true"
                         ClearButton="false"
                         Value="@PatientId"
                         OnChange="@PatientChanged"
                         Data="@Patients"
                         ValueField="@nameof(PatientDto.PatientId)"
                         TextField="@nameof(PatientDto.Name)"
                         Placeholder="Select a Patient...">
            <ItemTemplate>
                <div class="appointment-holder">
                    <span>@((context as PatientDto).Name)</span>
                    <div style="text-align: right;">
                        <img class="appointment-image" src="@((context as PatientDto).ImageData)" />
                    </div>
                </div>
            </ItemTemplate>
        </TelerikComboBox>
    </label>
</div>

@if (IsLoaded)
{
    <Scheduler Height="750" Rooms="@Rooms" AppointmentTypes="@AppointmentTypes"
               StartDate="@StartDate" StartTime="@DayStart"
               EndTime="@DayEnd" Groups="Groups"
               OnEditCallback="@((e) => OpenEdit(e))"
        OnScheduleChangedCallback="@(() => RefreshAppointmentsAsync())">
        <Resource Name="AppointmentTypes" TextField="Name" ValueField="AppointmentTypeId" Field="AppointmentTypeId" Title="Appointment Type" Data="@AppointmentTypes" />
        <Resource Name="Rooms" TextField="Name" ValueField="RoomId" Field="RoomId" Title="Room" Data="@Rooms" />
    </Scheduler>
}

<TelerikWindow Modal="true" Size="WindowSize.Medium" Visible="@CustomEditFormShown">
    <WindowTitle>Appointment Data</WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" OnClick="@CancelEditing" />
    </WindowActions>
    <WindowContent>
        @* This component is in the Pages folder *@
        <AppointmentEditor Patient="SelectedPatient" ScheduleId="ScheduleId" RoomId="RoomId" Appointment="@CurrentAppointment" OnAppointmentChanged="@RefreshAppointmentsAsync" />
    </WindowContent>
</TelerikWindow>
